html {
    --sidebar-back: #2d2d2d;
    --sidebar-foreground: #3D3D3D;
    --line-height: 1.215em;
    --mainColor: #3D3D3D;
    --textColor: white;
    --secondMain: #333333;
    --scrollbar: #333333;
    --scrollbarThumb: #3D3D3D;
    --linkColor: #00C2EE;
    --string: #1eca00;
    --comment: rgb(183 183 183);
    --linkVisited: #E77BD5;
    --aliasName: gold;
    --functionCall: rgb(79, 160, 216);
    --property: rgb(9 255 216);
    --type: rgb(103, 203, 203);
    --title: #ff5454;
    --default: var(--aliasName);
    --symbol: var(--functionCall);
    --literal: var(--linkColor);
    --keyword: #00C2EE;
    --lighter: filter: brightness(80%);
    /*take the firefox default for Calibri and make it explicit, so we can size/position other things relative to it*/
}

* {
    line-height: var(--line-height)
}


/* core layout: */

html {
    background-color: var(--mainColor);
    margin: 0;
    padding: 0;
    transition: background-color 500ms;
}

nav:not([class^="afterload"]) *,
html:not([class^="afterload"]) * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

pre {
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--secondMain);
    transition: background-color 500ms;
}

body>* {
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

#sidebar {
    background-color: var(--sidebar-back);
    width: 25%;
    min-width: 18em;
    padding: .5rem 1rem;
    font-size: .875rem;
    flex: 0 0 auto;
    /* transition: width 200ms, height 200ms, min-width 500ms, opacity 200ms; */
}

.dark-toggle {
    margin-top: 2em;
    width: 7em;
    height: 2em;
    background-color: var(--mainColor);
    border-color: var(--textColor);
    color: var(--textColor);
    font-weight: bold;
    position: absolute;
    bottom: 1%;
    right: 2%;
    /* box-shadow: -5px -1px 5px gray; */
    transition: background-color 500ms;
}

.dark-toggle:hover {
    filter: brightness(85%);
}

audio::-webkit-media-controls-panel {
    background-color: var(--mainColor);
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-volume-slider-container,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button {
    filter: invert(100%);
    margin: 3px 3px;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: var(--mainColor);
    filter: invert(100%);
}

.hide-color {
    background-color: #fff !important;
}

.afterload {
    transition: min-width 500ms, width 200ms, opacity 200ms;
}

.aliasName  {
    color: var(--aliasName)
}

#sidebar ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    max-height: 1000px;
    transition: max-height 500ms;
}

#sidebar li {
    list-style: none;
    position: relative;
}

#sidebar li a {
    display: block;
    background-color: var(--sidebar-foreground);
    padding: .25em .5em;
    text-decoration: none;
    border-radius: .2rem;
    transition: background-color 500ms;
}

#sidebar li a {
    text-overflow: ellipsis;
    overflow-x: hidden
}

#sidebar li a {
    margin: 4px 0
}

.collapse {
    display: none;
    margin: 1em;
    opacity: 1;
    color: var(--textColor);
    font-weight: bold;
    height: 35px;
    width: 35px;
    background-color: var(--secondMain);
    border-radius: 25%;
    border-color: var(--textColor);
    /* box-shadow: -2px 5px 5px gray; */
    position: absolute;
    left: 25%;
    transition: background-color 500ms, left 200ms;
}

.collapse:hover {
    filter: brightness(85%);
}

.left {
    left: 2%;
    transition: opacity 2s;
    transition-delay: 2s;
}

.left:hover {
    opacity: 1;
    transition: opacity 100ms;
}



/*spacing*/

#sidebar li a.you-are-here {
    font-weight: bold;
}

#sidebar li.collapsed ul {
    max-height: 0;
    opacity: 0;
    transition: max-height 500ms, opacity 200ms 300ms;
}

#sidebar li.collapsed ul li {
    max-height: 0;
    transition: max-height 400ms;
    pointer-events: none;
}

#sidebar li ul li {
    max-height: 1000px;
}

#sidebar>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 10em;
    transition: max-height 1s ease-in;
}

a:not([href]),
a[href=""] {
    color: var(--textColor);
}

#sidebar .toggle {
    all: unset;
    position: absolute;
    right: 100%;
    top: 0;
    text-align: center;
    width: 1.5ch;
    height: var(--line-height);
    padding: .25em 0;
    background: #BFBFBF;
    color: #000;
    border-radius: .2rem 0 0 .2rem;
    cursor: default;
}

#sidebar .toggle {
    margin: 0;
}


/* Edge doesn't understand "all:unset" */

#sidebar .toggle::before {
    content: "-";
    cursor: default
}

#sidebar li.collapsed>.toggle::before {
    content: "+"
}

#sidebar .toggle+a {
    border-radius: 0 .2rem .2rem 0
}

#sidebar ul hr {
    border: 0;
    border-top: 1px solid #BBB
}

main {
    background-color: var(--secondMain);
    color: var(--textColor);
    padding: 1rem;
    flex: 1 1 auto;
    transition: background-color 500ms;
}


/* Firefox bug: #sidebar does not scroll to the bottom padding when overflow-y:auto 
   kicks in i.e. there effectively is no bottom padding */

#sidebar {
    padding-bottom: 0
}


/* remove the padding-bottom so we don't double-pad for other browsers */

#sidebar::after {
    height: .5rem;
    content: " ";
    display: block
}


/* use a pseudo-element instead of padding */

main {
    padding-bottom: 0;
    margin-left: 3em;
}


/* this bug affects main, too */

main::after {
    height: .5rem;
    content: " ";
    display: block
}

main header {
    margin-bottom: 1rem
}

main header h1 {
    margin-bottom: 0
}

header .a-k-a,
header .type {
    display: block;
    color: #666;
    font-size: 1.1rem;
    font-weight: normal
}

#toc {
    max-width: 20rem;
    list-style: none;
    margin: 1em 0;
    padding: .25rem .5rem;
    border: 1px solid #AAA;
    border-radius: 3px;
    background: #FCFCFC
}

#toc::before {
    display: block;
    content: "Contents";
    font-weight: bold;
    text-align: center
}

#toc ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1rem
}

#toc li {
    margin: 0;
    padding: .1em 0
}

#toc li+li {
    border-top: 1px solid #E0E0E0
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0
}


/* manage initial/final margins: */

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: 0
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0
}

.header-permalink {
    margin-left: 1em;
    font-size: 1rem;
    font-weight: normal
}

.header-permalink::before {
    content: "🔗"
}

.header-permalink {
    display: none
}

*:hover>.header-permalink {
    display: inline
}


/* yellow fade when jumping to a header (TODO: wrap sections in <section/> so we can fade the whole section and not just the header) */

@keyframes jump-to-section {
    0% {
        background: rgba(255, 255, 128, 0.5);
        box-shadow: 0 0 6px 6px rgba(255, 255, 128, 0.5);
    }
    100% {
        background: transparent
    }
}

a:target {
    animation: jump-to-section 3s ease-in 1
}

h2 {
    border-bottom: 1px solid #DDD;
}

body {
    font-family: Calibri, Verdana, sans-serif;
}

dt {
    font-weight: bold
}

dd+dt {
    margin-top: 1em;
}

main ul>li+li {
    margin-top: .5em;
}

code {
    background: var(--mainColor);
}

.close-button {
    position: absolute; 
    right: 0; 
    top: 0;
    background-color: var(--secondMain);
    color: var(--textColor);
    border: none;
    width: 2em;
    height: 2em;
    font-size: large;
}


.code-display {
    display: none; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: var(--secondMain); 
    width: 75%; 
    height: 50%;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}

input {
    background: var(--mainColor);
    color: var(--textColor);
}

pre {
    padding: .5em;
    background: var(--secondMain);
    border: 1px solid #DDD;
    overflow-x: auto;
}

pre code {
    overflow-x: auto;
    background-color: var(--secondMain);
    color: var(--default)
}

.hljs-keyword {
    color: var(--keyword);
    font-weight: bold;
}

.hljs-comment {
    color: var(--comment);
}

.hljs-string {
    color: var(--string);
}

.hljs-type {
    color: var(--type);
}

.hljs-property {
    color: var(--property);
    font-weight: bold;
}

.hljs-number {
    color: skyblue;
}

.hljs-literal {
    color: var(--literal);
}

.hljs-variable {
    color: var(--aliasName);
}

.hljs-title {
    color: var(--title);
}

.hljs-functionCall:not(.hljs-functionCall span){
    color: var(--functionCall);
    font-weight: bold;
}

.hljs-functionCall span {
    color: var(--functionCall);
    font-weight: bold;
}

.hljs-symbol {
    color: var(--symbol);
    font-weight: bold;
}

.light {
    filter: brightness(80%);
    background: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: var(--mainColor);
    color: var(--textColor);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    top: -4em;
    transition: all 500ms;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 90%;
  }

.code {
    border: none;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar);
    transition: background-color 500ms;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    transition: background-color 500ms;
}

::-webkit-scrollbar-button {
    display: none;
}

a {
    text-decoration: none;
}

a:link {
    color: var(--linkColor);
}

a:visited {
    color: var(--linkVisited);
}


dt a {
    box-shadow: inset 0 0 0 0 var(--textColor);
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

dt a:hover {
    box-shadow: inset 200px 0 0 0 var(--mainColor);
    color: var(--textColor);
}

#sidebar a:link:hover {
    color: #36F;
    text-decoration: none;
}

#sidebar a:visited:hover {
    color: #B5A;
}

@media (max-width: 800px) {
    .collapse {
        left: 19em;
        display: block;
    }

    .left {
        left: 0;
    }

    #sidebar {
        position: absolute;
    }

    .hide {
        width: 0 !important;
        height: 0;
        min-width: 0 !important;
        opacity: 0;
    }

}